---
import Container from '@/components/Container.astro'
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between"
    >
      <div class="flex items-center gap-x-2">
        <span class="text-center text-sm text-muted-foreground">
          &copy; {new Date().getFullYear()} All rights reserved.
        </span>
        <Separator orientation="vertical" className="h-4" />
        <p class="text-center text-sm text-muted-foreground">
          Mod with 🤍 by <Link
            href="https://github.com/vincentwidyan"
            class="text-foreground"
            external
            underline>vincentwidyan</Link
          >!
        </p>
      </div>
      <SocialIcons links={SOCIAL_LINKS} />
      <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="vincentwidyan" data-description="Support me on Buy me a coffee!" data-message="Thanks for visiting!" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </div>
  </Container>
</footer>
